.input {
    margin-left: 130px;
    border-radius: 4px;
    margin-top: 40px;
    width: 350px;
    height: 40px;
    border: 0px solid rgb(64, 60, 60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catagories {
    margin-left: 130px;
    border-radius: 8px;
    border: 0px solid rgb(64, 60, 60);
    width: 350px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_item {
    color: black;
    margin-left: 8px;
    margin-top: 10px;
    height: 35px;
}

.cate {
    margin-left: 10px;
    padding-top: 21px;
}

.top_post {
    margin-left: 130px;
    margin-top: 25px;
    width: 350px;
    height: 448px;
    border-radius: 8px;
    border: 0px solid rgb(64, 60, 60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top_heading {
    padding-left: 32px;
    width: 323px;
}

.post_count {
    width: 2px;
    display: -webkit-box;
    margin-left: 12px;
    padding-top: 24px;
}

.post_headind {
    margin-left: 16px;
    padding-top: 23px;
}

.card_one {
    width: 392px;
    margin-left: 522px;
    margin-top: -888px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    width: 392px;
    border-radius: 8px;
}

.card_info {
    padding-left: 18px;
    padding-top: 8px;
    font-weight: 100;
    opacity: 0.8;
}

.card_head {
    padding-left: 18px;
}

.card_para {
    padding-left: 18px;
    padding-top: 8px;
    opacity: 0.8;
}

.btn {
    color: green;
    padding-left: 18px;
    padding-top: 3px;
    background-color: white;
}

.btn:hover {
    background-color: white;
}

.card_two {
    width: 392px;
    margin-left: 960px;
    margin-top: -436px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_three {
    width: 392px;
    margin-left: 522px;
    margin-top: 42px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_four {
    width: 392px;
    margin-left: 960px;
    margin-top: -438px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_five {
    width: 392px;
    margin-left: 522px;
    margin-top: 47px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card_six {
    width: 392px;
    margin-left: 960px;
    margin-top: -457px;
    border: 0px solid rgb(64, 60, 60);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page_btn {
    margin-left: 482px;
    margin-right: 511px;
    margin-top: 41px;
    display: flex;
    justify-content: space-evenly;
}

.pagination_btn {

    border: 0px solid rgb(64, 60, 60);
    width: 39px;
    height: 38px;
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page_btn_Item {
    font-size: 20px;
    color: rgba(0, 193, 112, 1);
    padding-top: 8px;
}

.page_btn_Item1 {
    border: solid rgba(0, 193, 112, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 14px;
    cursor: pointer;
}

@media(max-width:428px) {
    .catagories {
        display: none;
    }

    .top_post {
        display: none;
    }

    .img {
        width: 1214px;
        border-radius: 8px;
    }

    .card_head {
        padding-left: 18px;
        font-size: 47px;
        padding-top: 3px;
    }

    .card_info {
        padding-left: 18px;
        padding-top: 8px;
        font-size: 25px;
        opacity: 0.8;
    }

    .card_para {
        padding-left: 18px;
        padding-top: 8px;
        font-size: 23px;
        opacity: 0.8;
    }

    .btn {
        color: green;
        padding-left: 18px;
        padding-top: 45px;
        background-color: white;
    }

    .card_one {
        width: 1214px;
        height: 1064px;
        margin-left: 68px;
        margin-top: 45px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .input {
        margin-left: 55px;
        border-radius: 4px;
        margin-top: 40px;
        width: 1235px;
        height: 40px;
        border: 0px solid rgb(64, 60, 60);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card_two {
        width: 1215px;
        margin-left: 75px;
        margin-top: 40px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card_three {
        width: 1215px;
    margin-left: 82px;
        margin-top: 42px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card_four {
        width: 1215px;
    margin-left: 82px;
        margin-top: 32px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card_five {
        width: 1215px;
    margin-left: 82px;
        margin-top: 47px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .card_six {
        width: 1215px;
        margin-left: 82px;
        margin-top: 40px;
        border: 0px solid rgb(64, 60, 60);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .page_btn {
        margin-left: 405px;
    margin-right: 438px;
    margin-top: 41px;
    display: flex;
    justify-content: space-evenly;
    }
    
    .pagination_btn {
    
        border: 0px solid rgb(64, 60, 60);
        width: 97px;
        height: 93px;
        margin-left: 67px;
        display: flex;
        justify-content: space-around;
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .page_btn_Item {
        font-size: 68px;
        color: rgba(0, 193, 112, 1);
        padding-top: 8px;
        width: 95px;
        padding-left: 32px;
    }
    
    .page_btn_Item1 {
        border: solid rgba(0, 193, 112, 1);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 14px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-top: 44px;
        margin-left: 37px;
        cursor: pointer;
    }
}